.footer {
  margin: 100px 0 40px;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

.footer img {
  height: 20px;
}


@media (max-width: 600px) {
 .footer a{
    font-size: 10px;
  }

  .footer p {
   font-size: 10px;
}

.footer img {
  height: 15px;
}


  .coffeeImage{
    height: 4px;
  }

}